#map {
 height: 100%;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


footer{
    background-color: beige;
}
.search-band{
    background-color: grey;
    height: 100%;
}

.main-body{
    background-color: beige;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 1px;
}
.map_canvas{
    min-height: 400px !important;
}
/* header {
    border: 1px solid red;
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
} */

/* .searchBand {
    position: absolute;
    border: 1px solid blue;
    width: 26%;
    top: 100px;
}

#band-features {
    position: absolute;
    border: 1px solid green;
    width: 26%;
    top: 200px;
}

.bands-in-town-list {
    position: relative;
    border: 1px solid purple;
    height: 90px;
    width: 26%;
    top: 400px;
}

.bands-in-town-scroll {
    position: relative;
    border: 1px solid purple;
    width: 26%;
    top: 435px;
    height: 90px;
}

#blurb-about-site {
    border: 1px solid black;
    width: 33%;
    position: absolute;
    right: 490px;
    height: 540px;
    bottom: 88px
}*/