/********** Colour reference chart*********
*************************** colour *******/ 
:root {
    --spotify-card:#d6465a;
    --artist-card:#8babb2;
    --Main-Body: white;
    --borders: #d6465a;
    --text: white;
    --link: white;
    --scroll: white;
    
    --buttons-hover: white;
  }

  
*,
*::before,
*::after {
  /* Width and height apply to all parts of the element: content, padding and borders */
  box-sizing: border-box;
}
/* main body styling */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
footer{
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.footer-copyright{
  margin-top: 10px;
}
.body-row{
    margin: 0px !important;
    padding: 10px !important;
}
.main-body{
    margin: 0px !important;
    padding: 0px !important;
}
.container{
    width: 100% !important;
}
/* Main base body styling */
.main-body{
    background-color:var(--Main-Body);
    margin-top: 10px;
    height: 85vh;
}

/* Aside styling */
.side-content-title {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: sans-serif;
}
.artist-input{
    padding-left: 10px !important;
}
.btn{
    height: 44px !important;
}
.band-details{
    height: 71vh;
    overflow: scroll;
    overflow-x: hidden;
}
.artist{
    display: flex;
    background-color:var(--artist-card);
    border-radius: 5px;
    margin:10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.artist h3, .artist .image-holder {
    display: inline-block;
    margin:0;
    padding:10px;
}
.artist h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text);
}
.artist .image-holder{
    text-align: right;
}

.display_hits{
    position: absolute;
    top: 5.2rem;
    z-index: 5;
    background-color: var(--spotify-card);
    overflow: scroll;
    overflow-x: hidden;
    height:250px;
    width:100%;
    padding:5px;
}
.display_hits p{
    text-align: right;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: var(--text);
}
.display_hits h5{
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    text-decoration: underline;
    color: var(--text);
}
.display_hits a{
    color: var(--link);
}
.display_hits audio{
    width: 100%;
    height: 20px;
}
::-webkit-scrollbar {
    width: .5em;
  }
   
 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--text);
  }
   
::-webkit-scrollbar-thumb {
    background-color:  var(--scroll);
    outline: 1px solid  var(--scroll);
    padding:30px 0;
  }

/* central panel */
.blurb-about-site{
    font-family: sans-serif;
    height: 80vh;
    border: 1px solid var(--borders);
    border-radius: 15px !important;
}
.blurb-about-site-content{
    height: 60%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bands-in-town{
    display: none;
    height: 80vh;
    border: 1px solid var(--borders);
    border-radius: 15px !important;
    height: 40vh;
}
.event-information{
    display: none;
    border: 1px solid var(--borders);
    border-radius: 15px !important;
}
/* Map styling */
.map-canvas{
    border-radius: 25px;
    height: 80vh;
    border: 1px solid var(--borders);
    border-radius: 15px !important;
}
.card-title{
    padding-left: 10px !important;
}